*{
    box-sizing: border-box;
    margin: 12px;
    padding: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}

